<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Write, Execute, Source, Script">
            <add name="Python FastCGI"
            path="*"
            verb="*"
            modules="FastCgiModule"
            scriptProcessor="C:\Python312\python.exe | C:\Python312\Lib\site-packages\wfastcgi.py"
            resourceType="Unspecified"
            requireAccess="Script" />
        </handlers>
        <fastCgi>
            <application fullPath="C:\Python312\python.exe" arguments="C:\Python312\Lib\site-packages\wfastcgi.py" maxInstances="16" idleTimeout="21600" instanceMaxRequests="10000000" signalBeforeTerminateSeconds="60">
                <environmentVariables>
                    <environmentVariable name="PYTHONHOME" value="C:\Python312" />
                </environmentVariables>
            </application>
        </fastCgi>
    </system.webServer>
    <appSettings>
        <!-- Required settings -->
        <add key="WSGI_HANDLER" value="app.wsgi_app" />
        <add key="PYTHONPATH" value="D:\\PycharmProjects\\FurbiV2\\main.py" />
    </appSettings>
</configuration>